<!-- booking/templates/booking/login.html -->
{% extends "booking/base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Connexion</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-lg btn-primary btn-block mt-3">Se connecter</button>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
            <div class="card-footer text-muted">
                Pas encore de compte ? <a href="{% url 'register' %}">S'inscrire ici</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}